<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @example.title %>
</p>

<p>
  <b>Description:</b>
  <%= @example.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @example.image_url %>
</p>

<p>
  <b>Date:</b>
  <%= @example.date %>
</p>


<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
