
	<div class="reveal">
	    <div class="slides">
		    <section>
		    	<p>Hi, I'm</p>
				<h1>Amelia Wattenberger</h1>
				<p>a multi-faceted designer in Austin, TX</p>
		    </section>
		    <section id="work">
	    		<section>
	    			<h1>Work Examples</h1>
	    			<p>\/</p>
	    		</section>
	    	<% @examples.each do |example| %>
		      <section id="<%= ((example.title).gsub(/ /,"_")).underscore.to_sym %>" class="exampletitle">
			      <div class="text">
			        <h2 class="title"><%= example.title %></h2>
					<p class="description"><%= sanitize example.description %></p>
		          </div>
	          </section>
	          <section>
		        <img src="<%= example.image_url %>" />
		      </section>
            <% end %>
	    	</section>
	    	<section id="daily">
	    		<section>
	    			<h1>Drawing a Day</h1>
	    			<p>\/</p>
	    		</section>
	    	<% @dailies.each do |daily| %>
	    			<section id="<%= ((daily.title).gsub(/ /,"_")).underscore.to_sym %>" class="dailytitle">
	    				<h2 class="dailydate"><%= (daily.date).to_s(:long) %></h2>
		        		<img src="<%= daily.image_url %>" />
	          		</section>
            <% end %>
	    	</section>
	    	<section id="aboutme">
	    		<section>
	    			<h1>Contact me</h1>
					<p>Feel free to drop me a line at</p>
					<p>wattenberger@gmail.com</p>
	    		</section>
	    	</section>
	  </div>
	</div>