<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @daily.title %>
</p>

<p>
  <b>Date:</b>
  <%= @daily.date %>
</p>

<p>
  <b>Image url:</b>
  <%= @daily.image_url %>
</p>

<p>
  <b>Description:</b>
  <%= @daily.description %>
</p>


<%= link_to 'Edit', edit_daily_path(@daily) %> |
<%= link_to 'Back', dailies_path %>
