
  <!DOCTYPE html>
<html>
<head>
  <title>Wattenberger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="logo"><a href="/"> <%= image_tag("logo.png", :size => "120x120", :alt => "Home") %></a> </div>
<%= yield %>
</body>
</html>
